
@{
    ViewBag.Title = "Home Page";
}

        <div class="jumbotron">
            <p>                این برنامه برنامه آزمایشی می باشد  که شبیه فروشگاه اینترنتی قابلیت انتخاب کالاها را دارد و در صورت ورود به سیستم
                میتوان فرآیند خرید را تکمیل کرد همچنین در قسمت پنل مدیریت امکان ویرایش محصولات و دسته بندی ها  و همچنین عکس ها وجود دارد
                که این قسمت فقط از طریق ایمیل و رمز عبور ادمین قابل دسترسی می باشد که سورس پروزه را از این قسمت می توانید دانلود کنید.
            </p>
        </div>


