@model IEnumerable<string>

<nav>
    
                @Html.RouteLink(@HttpContext.GetGlobalResourceObject("Labels", "AllProducts") as string, new { controller = "Product", action = "List", categoryName = "", page = 1 },new { @class = "btn btn-block btn-default btn-lg"})
            

        @foreach (var category in Model)
        {
                @Html.RouteLink(category,
               new
               {
                   controller = "Product",
                   action = "List",
                   categoryName = category,
                   page = 1
               },new { @class = "btn btn-block btn-default btn-lg"})
              }
        
</nav>
